__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.bak
*.swp
alembic.ini
alembic/versions/*
!alembic/versions/.gitkeep
tests/__pycache__/
.pytest_cache/
*.log
afip_certs/
instance/
.idea/
.vscode/
